.page.theme-dark {
  --font-weight: 465;
  --heading-font-weight: 785;

  --bg-color: #000;
  --main-color: #00cc14;

  --bg-pattern: url("../svg/pattern-dark.svg");
}

.page.theme-light {
  --font-weight: 400;
  --heading-font-weight: 700;

  --bg-color: #fff;
  --main-color: #000;

  --bg-pattern: url("../svg/pattern-light.svg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight: 465;
    --heading-font-weight: 785;

    --bg-color: #000;
    --main-color: #00cc14;

    --bg-pattern: url("../svg/pattern-dark.svg");
  }
}
