.page.theme-dark {
  --font-weight: 465;
  --heading-font-weight: 785;

  --bg-color: #000;
  --main-color: #00cc14;

  --bg-pattern: url("../svg/pattern-dark.svg");

  --heart-contour-color: var(--main-color);
  --heart-fill-color: #ff0000;
}

.page.theme-light {
  --font-weight: 400;
  --heading-font-weight: 700;

  --bg-color: #fff;
  --main-color: #000;

  --bg-pattern: url("../svg/pattern-light.svg");

  --heart-contour-color: var(--main-color);
  --heart-fill-color: #ff0000;
}

@media (prefers-color-scheme: light) {
  :root {
    --font-weight: 400;
    --heading-font-weight: 700;

    --bg-color: #fff;
    --main-color: #000;

    --bg-pattern: url("../svg/pattern-light.svg");

    --heart-contour-color: var(--main-color);
    --heart-fill-color: #ff0000;
  }
}
